@model IEnumerable<CommonLayer.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/index.css" rel="stylesheet" />

<h1>List of Employees </h1>

<p >
    <a asp-action="Create" class="createLink">Create New</a>
</p>
<table class="table">
    <thead class="tableLink">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content(item.ProfileImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
                <td class="buttonWidth">
                <span class="editlink">
                    @Html.ActionLink("Edit", "Edit", new { employeeId = item.EmployeeId  }) 
                    </span> &nbsp; | &nbsp;
                <span class="editlink">
                    @Html.ActionLink("Details", "Details", new { employeeId = item.EmployeeId })
                    </span> &nbsp | &nbsp;
                
                <span class="editlink">
                    @Html.ActionLink("Delete", "Delete", new { employeeId = item.EmployeeId })
                </span> 
            </td>
        </tr>
}
    </tbody>
</table>
